.contenedor-slider{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.carousel-indicators li {
    border-color: #777;
}

.carousel-indicators .active {
    background-color: #777;
}

#btnBuscar{
    border: solid #ced4da 1px;
}

#ctnFiltrar{
    padding: 100px;
}

#ctnNumBusqueda{
    padding: 10px;
}

#ctnResultado{
    padding: 10px;
}

.verBorde{
    border: solid grey 1px;
}

#buscador{
    padding-right: 10% !important;
}

#opcionSeleccionar{
    padding-left: 20% !important;
}

#opcionesBuscar{
    background-color: #e9ecef !important;
    border-color: #ced4da;
}

.caja{
    border-color: grey;
}

.caja:hover{
    cursor: pointer;
    box-shadow: 5px 5px #bdbdbd;
}

#img{
    width: 300px;
    height: 150px;
    border: solid grey 1px;
}
.logo {
  border-radius: 4px;
  padding-left: 50px;
  padding-top: 20px;
  width: 170px;
}
.logo:hover{
    cursor: pointer;
}

.contenedor{
  width: 100%;
  height: 100px;
}
.posicion{
  top: 0px;
}
.titulo{
  height: 100px;
}

.tituloFiltro{
  border-bottom: solid gray 1px;
}
.bordeFiltro{
  border-right: solid gray 1px;
  border-top: solid gray 1px;
}


.carousel-control-prev-icon {
    padding: 24px;
    background-image: url("../img/chevron-left.svg");
}

.carousel-control-next-icon {
    padding: 24px;
    background-image: url("../img/chevron-right.svg");
}

.contenedor-slider .carousel .carousel-indicators button {  
    background-color: white;
    border: solid #212121 1px;
    border-radius: 50%;
    width: 3px;
    padding: 4px;
}
.contenedor-slider .carousel .carousel-indicators button.active { 
    background-color: #212121; 
}
.contornos{
    border-color: white;
}

.texto{
    color: black;
}

.links{
    text-decoration:none;
    color: black;
}

.links:hover{
    text-decoration:none;
    color: gray;
}

#result {
    position: absolute;
    right: 1px;
    width: 100%;
    max-width: 285px;
    cursor: pointer;
    overflow-y: auto;
    max-height: 400px;
    box-sizing: border-box;
    z-index: 1001;
   }
   .list-group-item{
    border-color: white;
    margin-right: 0px;
    margin: 0px;
   }
   .link-class:hover{
    background-color:#f1f1f1;
   }

   .li-result{
       margin: 0px;
   }

   .nav-color{
       background-color: #dcdce6/*rgb(220 220 230)*/;
   }
.aviso-busqueda{
    padding-right: 24px;
    color: #6a6f73;
}

.search-input{
    background: #fff;
    width: 100%;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.12);
  }
